<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">


  <form [formGroup]="patrimonial">
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select formControlName="category" placeholder="Selecciona una categoría" interface="popover" aria-haspopup="listbox" mode="ios">
        <ion-select-option *ngFor="let cat of categories" [value]="cat">
          {{ cat }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="date" displayFormat="MMM/YYYY" min="1994-03" mode="ios"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>Cantidad Inicial</ion-label>
      <ion-input formControlName="initPatrimonialValue" class="ion-text-right" type="number"></ion-input>
    <ion-icon slot="end" name="logo-euro"></ion-icon> 
    </ion-item>
    <ion-item>
      <ion-label>Cantidad final</ion-label>
      <ion-input formControlName="endPatrimonialValue" class="ion-text-right" type="number"></ion-input>
    <ion-icon slot="end" name="logo-euro"></ion-icon> 
    </ion-item>


    <ion-button expand="block" [disabled]="!patrimonial.valid" (click)="onSubmit()">Guardar</ion-button>
  </form>

  
</ion-content>
